body {
    background-image: url(./img/moorish-pattern_644416-582.jpg);
    background-color: #cccccc;
    
   }
   h1{
    text-align: right;
    color:deepskyblue

   }
   h1{
background-color:#dff5f5;

   }
   ul{
    color:yellow

   }
   ul{ 
background-color: blue;
}
   li{
    color:yellow
   }